
body {
  font-family: Arial, Helvetica, sans-serif;
}

td {
  padding: 1px 15px;
  border: 1px solid black;
  min-width: 100px;
}

table {
  border: 1px solid black;
  margin: auto;
  background-color: white;
  border-spacing: 0;
  text-align: center;
}

input.fileImport{
  display: none;
}

button, .fileImportLabel {
  background-color: white;
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:6px 0px;
  box-shadow: 2px 2px 2px #888888;
  border-radius: 3px;
  border: 1px solid #808080;
  height: 35px;
}

.fileImportLabel {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
}

button:hover, .fileImportLabel:hover{
  text-decoration: underline;
  border: 1px solid blue;
}

div.event_container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 840px;
  background-color: #f2f2f2;
  padding: 3px 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 2px;
  border: 1px solid #f2f2f2;
}

div.event_container:hover{
  background-color: #e6e6e6;
}

div.event_container:last-child{
  margin-bottom: 20px;
}

div.event_descriptor{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  text-align:center;
}

div.event_data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#heading_container{
  display: flex;
  flex-direction: column;
  width: 880px;
  background-color: lightgrey;
  margin: auto;
}

div#heading_content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 840px;
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 5px 0px;
  font-size: 18px;
  font-style: italic;
}

.bold_class{
  font-weight: bold;
}

div#footer_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: auto;
  width:100px;
  padding:20px;
}

div#react_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#app_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}

div#duplicator{
  width: 230px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  margin-top: 5px;
}

button#duplicate_button {
  width: 150px;
  margin: 1px;
}

p#duplicator_p{
  height: 20px;
  margin: 1px;
}

img#app_remove_button {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
}

div.table_container{
  position:relative;
}

div.table_saver{
  font-size: 14px;
  color: blue;
  text-decoration: underline;
  position: absolute;
  right:45px;
  bottom:-20px;
}

div.table_saver:hover{
  cursor:pointer;
}

div.calc_container_container{
  position: relative;
  border: 1px solid lightgrey;
  margin: 0px 2px;
}

div.highlight_container{
  border: 1px solid red;
}

div.calc_container{
  display: flex;
  flex-direction: column;
  width: 880px;
  margin:auto;
  background-color: lightgrey;
  padding-bottom: 23px;
}

div#error_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  color: red;
  font-size: 18px;
}

div#output_summary_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 840px;
  background-color: #f2f2f2;
  margin: 0px 20px 20px 20px;
  padding-bottom: 10px;
}

div#output_summary_container.summary_shade, .table_shade{
  opacity: 0.2;
}

div.init_data{
  display: flex;
  align-items: center;
  padding: 2px 10px;
  background-color: white;
  margin:5px;
}

div.output_value{
  padding: 5px 20px;
  background-color: white;
  border-width: 2px;
  border-color: #f2f2f2;
  margin-top: 10px;
  margin-right: 10px;
  flex-basis: 240px;
}

div.init_data_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 840px;
  background-color: #f2f2f2;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

div#buttons_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 840px;
  background-color: #f2f2f2;
  margin: 20px;
  padding: 3px 0px;
}

input.date_input{
  width: 80px;
}

input.amount_input_wide{
  width: 70px;
}

input.amount_input{
  width: 50px;
}

input.amount_input_narrow{
  width: 35px;
}
